<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/results" method="post">
      <label for="">Convert a Phrase to Leetspeak</label>
      <input type="text" name="input_string" value="">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
